.take-order {
  & > .form-control {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;

    & > label {
      width: 25%;
    }

    & > .input {
      width: 50%;
    }
  }

  & hr {
    margin-bottom: 24px;
  }
}
