.check-info {
  display: flex;
  margin-bottom: 0px;

  & > * {
    width: 25%;
  }
}

.orders {
  & > .header {
    font-size: 24px;
    margin-bottom: 0.25em;
    margin-top: 0.5em;
  }

  & > .card {
    margin-bottom: 16px;

    .form-control {
      display: flex;
      flex-direction: row;

      & > * {
        width: 25%;
      }
    }
  }
}
